<!DOCTYPE html>
<html><head><meta charset="UTF-8"><script>
function subst() {
  var vars = {};
  var x = window.location.search.substring(1).split('&');
  for (var i in x) { var z = x[i].split('=', 2); vars[z[0]] = decodeURIComponent(z[1]); }
  var els = document.getElementsByClassName('page-counter');
  for (var j = 0; j < els.length; ++j) { els[j].textContent = vars.page + ' / ' + vars.topage; }
}
</script>
<style>
  body { margin: 0; padding: 0 6mm; font-family: 'Inter', Arial, sans-serif; font-size: 8px; color: #6B778C; text-align: right; }
</style></head>
<body onload="subst()">
<span class="page-counter"></span>
</body></html>
